<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Task Scheduler Manager</title>
    <meta name="author" content="TSM" />
    <link rel="stylesheet" th:href="@{/iview/iview.css}">
    <script th:src="@{/libs/jquery-3.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/libs/vue.min.js}" type="text/javascript"></script>
	<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
	<script th:src="@{/iview/iview.min.js}" type="text/javascript"></script>
    <style type="text/css">
	[v-cloak] {
			  display: none;
			}
	</style>
</head>
<body>
<div id="app" v-cloak style="margin: 30px">
<template>
	    <i-form v-ref:form-quartz :model="formQuartz" :rules="ruleValidate" :label-width="80">
	        <Form-item label="Task Name" prop="jobName">
	            <i-input  v-model="formQuartz.jobName"  :value.sync="formQuartz.jobName" placeholder="Please enter task name"></i-input>
	        </Form-item>
	        <Form-item label="Task Group" prop="jobGroup" >
	            <i-input  v-model="formQuartz.jobGroup" :value.sync="formQuartz.jobGroup" placeholder="Please enter task group"></i-input>
	        </Form-item>
	        <Form-item label="Description" prop="description">
	            <i-input  v-model="formQuartz.description" :value.sync="formQuartz.description" placeholder="Please enter description"></i-input>
	        </Form-item>
	        <Form-item label="Job Class" prop="jobClassName">
	            <i-input v-model="formQuartz.jobClassName" :value.sync="formQuartz.jobClassName" placeholder="Please enter job class"></i-input>
	        </Form-item>
            <Form-item label="Job Method" prop="jobMethodName">
                <i-input v-model="formQuartz.jobMethodName" :value.sync="formQuartz.jobMethodName" placeholder="Please enter job method"></i-input>
            </Form-item>
			<Form-item label="Parameters" prop="jobParameter">
				<i-input v-model="formQuartz.jobParameter" :value.sync="formQuartz.jobParameter" placeholder="Please enter parameters"></i-input>
			</Form-item>
	        <Form-item label="Schedule" prop="cronExpression">
	            <i-input v-model="formQuartz.cronExpression" :value.sync="formQuartz.cronExpression" placeholder="Please enter schedule"></i-input>
	        </Form-item>
	    </i-form>
</template>
</div>
<script type="text/javascript">
var vm = new Vue({
	el : '#app',
	data : {
		formQuartz: {
			jobName : '',
			jobGroup : '',
			description : '',
			jobClassName : 'com.joe.task.job.ChickenJob',
			jobMethodName:'',
			cronExpression : '0 0 0 20 4 ?',
			//旧任务名称  用于修改
			oldJobName : '',
			oldJobGroup : ''
        },
        ruleValidate: {
        	jobName: [
                { required: true, message: '任务名称不能为空', trigger: 'blur' }
            ],
            jobMethodName: [
                { required: true, message: '执行方法不能为空', trigger: 'blur' }
            ],
			jobParameter: [
				{ required: true, message: '执行参数不能为空', trigger: 'blur' }
			],
            jobGroup: [
                { required: true, message: '任务分组不能为空', trigger: 'blur' }
            ],
            description: [
                { required: true, message: '任务描述不能为空', trigger: 'blur' }
            ],
            jobClassName: [
                { required: true, message: '执行类不能为空', trigger: 'blur' }
            ],
            cronExpression: [
                { required: true, message: '执行时间不能为空', trigger: 'blur' }
            ]
        }
	},
	methods : {
		//新建任务(略简单)
		acceptClick : function(){
		  //Validate不起作用MD
		  var quartz =  vm.formQuartz;
		  if(vm.formQuartz.jobName==""||vm.formQuartz.jobGroup==""||vm.formQuartz.description==""
				  ||vm.formQuartz.jobClassName==""||vm.formQuartz.cronExpression==""){
			  alert("请输入以上完整信息");
			  return;
		  }
		  $.ajax({
				url:"../job/add",
				type:"post",
				data:quartz,
				success: function(result) {
					if(result.code=="0"){
						window.parent.location.reload();
					}else{
						vm.$Notice.error({
		                    desc:  '系统异常'
		                });
					}
				}
			});
		},
		acceptClickCopy : function(){
		  //Validate不起作用MD
		  var quartz =  vm.formQuartz;
		  if(vm.formQuartz.jobName==""||vm.formQuartz.jobGroup==""||vm.formQuartz.description==""
				  ||vm.formQuartz.jobClassName==""||vm.formQuartz.cronExpression==""){
			  alert("请输入以上完整信息");
			  return;
		  }
		  $.ajax({
				url:"../job/copy",
				type:"post",
				data:quartz,
				success: function(result) {
					if(result.code=="0"){
						window.parent.location.reload();
					}else{
						vm.$Notice.error({
		                    desc:  '复制失败，检查JobName，JobGroup'
		                });
					}
				}
			});
		}
	},
	created : function() {
		
	}
})

</script>
</body>
</html>