<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Scheduler Manager</title>
    <meta name="author" content="TSM" />
    <meta name="site" content="https://blog.52itstyle.com" />
    <link rel="stylesheet" th:href="@{/iview/iview.css}">
    <script th:src="@{/libs/jquery-3.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/libs/vue.min.js}" type="text/javascript"></script>
	<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
	<script th:src="@{/iview/iview.min.js}" type="text/javascript"></script>
	<script th:src="@{/common.js}" type="text/javascript"></script>
    <style type="text/css">
	[v-cloak] {
			  display: none;
			}
	</style>
</head>
<body>
<div id="app" v-cloak>
        <div style="margin-bottom: 6px;margin: 30px">
			<i-input v-model="jobNameSearch"  @on-enter="search()" placeholder="Task Name"  style="width: 200px"></i-input>
			<i-input v-model="jobGroupSearch" @on-enter="search()" placeholder="Task Group"  style="width: 200px"></i-input>
			<i-input v-model="descriptionSearch" @on-enter="search()" placeholder="Description"  style="width: 200px"></i-input>
			<i-button type="primary" @click="search()" icon="ios-search">Search</i-button>
			<i-button type="primary" @click="empty()" icon="ios-close-empty">Clear</i-button>
			<i-button type="info" style="float: right;" @click="add()" icon="person-add">Add New</i-button>
		</div>
		<div style="margin-bottom: 6px;margin: 30px">
			<template> 
				<i-table border :content="self" :columns="tableTitle" :data="JobData"></i-table>
			 	<br>
                <Page  style="float: right;" :current="pageNo" :total="tableSize" :page-size="pageSize"  @on-change="changePage" @on-page-size-change="changePageSize" show-elevator show-sizer show-total></Page>
			</template>
		</div>
</div>
<script type="text/javascript">
var vm = new Vue({
	el : '#app',
	data : {
		jobNameSearch : '',
		jobGroupSearch : '',
		descriptionSearch : '',
		pageNo : 1,
		pageSize : 10,
		jobName : "",
		JobData : [],
		tableSize : 50,
		tableTitle:[ {
			key : "jobName",
			title : "Task Name"
		}, {
			key : "jobGroup",
			title : "Task Group"
		}, {
			key : "description",
			title : "Description"
		}, {
			key : "jobClassName",
			title : "Job Class"
		},{
			key : "jobMethodName",
			title : "Job Method"
		},{
			key : "jobParameter",
			title : "Parameters"
		},{
			key : "cronExpression",
			title : "Schedule"
		}, {
			title : 'Actions',
			key : 'action',
			width : 400,
			align : 'left',
			render : function(h, params) {
				var functionList = [];
				//Execute
				var trigger = h('Button', {
					props : {
						type : 'primary',
						size : 'small',
						icon : 'ios-play'
					},
					style : {
						marginRight : '8px'
					},
					on : {
						click : function() {
							vm.trigger(params.row.jobName,params.row.jobGroup);
						}
					}
				}, 'Execute');
				functionList.push(trigger);
				//Edit
				var edit = h('Button', {
					props : {
						type : 'primary',
						size : 'small',
						icon : 'edit'
					},
					style : {
						marginRight : '8px'
					},
					on : {
						click : function() {
							vm.edit(params.row);
						}
					}
				}, 'Edit');
				functionList.push(edit);
				//Copy
				var copy = h('Button', {
					props : {
						type : 'primary',
						size : 'small',
						icon : 'edit'
					},
					style : {
						marginRight : '8px'
					},
					on : {
						click : function() {
							vm.copy(params.row);
						}
					}
				}, 'Copy');
				functionList.push(copy);
				//Remove
				var remove = h('Button', {
					props : {
						type : 'error',
						size : 'small',
						icon : 'trash-a'
					},
					style : {
						marginRight : '8px'
					},
					on : {
						click : function() {
							vm.remove(params.row.jobName,params.row.jobGroup);
						}
					}
				}, 'Remove');
				functionList.push(remove);
				//Pause
				var pause = h('Button', {
					props : {
						type : 'warning',
						size : 'small',
						icon : 'pause'
					},
					style : {
						marginRight : '8px'
					},
					on : {
						click : function() {
							vm.pause(params.row.jobName,params.row.jobGroup);
						}
					}
				}, 'Pause');
				functionList.push(pause);
				//Resume
				var resume = h('Button', {
					props : {
						type : 'success',
						size : 'small',
						icon : 'play'
					},
					style : {
						marginRight : '8px'
					},
					on : {
						click : function() {
							vm.resume(params.row.jobName,params.row.jobGroup);
						}
					}
				}, 'Resume');
				functionList.push(resume);
				return h('div', functionList);
			}
		}]
	},
	methods : {
		//搜索
		search : function(){
			 $.ajax({
					url:"../job/list",
					type:"post",
					data:{'jobName':this.jobNameSearch,'jobGroup':this.jobGroupSearch,'description':this.descriptionSearch,"pageNo":this.pageNo,'pageSize':this.pageSize},
					success: function(result) {
						vm.JobData = result.msg.pageData;
						vm.tableSize = result.msg.totalCount;
					}
			});
		},
		empty : function(){
			vm.jobNameSearch = '';
			vm.jobGroupSearch = '';
			vm.descriptionSearch = '';
			this.list();
		},
		//任务列表(自行实现分页)
		list : function() {
			$.ajax({
				url:"../job/list",
				type:"post",
				data:{'time':(new Date()).toString(),"pageNo":this.pageNo,'pageSize':this.pageSize},
				success: function(result) {
					vm.JobData = result.msg.pageData;
					vm.tableSize = result.msg.totalCount;
				}
			});
		},
		//触发任务
		trigger : function(jobName,jobGroup){
			$.ajax({
				url:"../job/trigger",
				type:"post",
				data:{'time':(new Date()).toString(),"jobName":jobName,'jobGroup':jobGroup},
				success: function(result) {
					if(result.code=="0"){
						vm.$Notice.success({
		                    desc:  'Task executed successfully'
		                });
					}
				}
			});
		},
		//停止任务
		pause : function(jobName,jobGroup){
			$.ajax({
				url:"../job/pause",
				type:"post",
				data:{'time':(new Date()).toString(),"jobName":jobName,'jobGroup':jobGroup},
				success: function(result) {
					if(result.code=="0"){
						vm.$Notice.success({
		                    desc:  'Task paused successfully'
		                });
						vm.list();
					}
				}
			});
		},
		//恢复任务
		resume : function(jobName,jobGroup){
			$.ajax({
				url:"../job/resume",
				type:"post",
				data:{'time':(new Date()).toString(),"jobName":jobName,'jobGroup':jobGroup},
				success: function(result) {
					if(result.code=="0"){
						vm.$Notice.success({
		                    desc:  'Task resumed successfully'
		                });
						vm.list();
					}
				}
			});
		},
		//新建任务
		add : function(){
			dialogOpen({
				title: '新增任务',
				url: 'task/add.html',
				width: '600px',
				height: '350px',
				yes : function(iframeId) {
					top.frames[iframeId].vm.acceptClick();
				},
			});  
		},
		edit : function(quartz){
			dialogOpen({
				title: '修改',
				url: 'task/add.html',
				scroll : true,
				width: '500px',
				height: '550px',
				success : function(iframeId){
					top.frames[iframeId].vm.formQuartz = quartz;
				},
				yes : function(iframeId) {
					top.frames[iframeId].vm.acceptClick();
				},
			});
		},
		copy : function(quartz){
			dialogOpen({
				title: '复制',
				url: 'task/add.html',
				scroll : true,
				width: '500px',
				height: '550px',
				success : function(iframeId){
					top.frames[iframeId].vm.formQuartz = quartz;
				},
				yes : function(iframeId) {
					top.frames[iframeId].vm.acceptClickCopy();
				},
			});
		},
		//移除任务
		remove : function(jobName,jobGroup){
			var that = this;
			top.layer.confirm('确定要移除任务吗？', {
			      btn: ['确定','取消'] //按钮
			}, function(){
				$.ajax({
					url:"../job/remove",
					type:"post",
					data:{'time':(new Date()).toString(),"jobName":jobName,'jobGroup':jobGroup},
					success: function(result) {
						if(result.code=="0"){
							top.layer.msg('Task removed successfully', {icon: 1});
							window.setTimeout(that.list(),1500);
						}
					}
				});
			}, function(){
			  
			});
		},
		reload :  function(){
			this.search();
		},
        changePage : function(pageNo) {
            vm.pageNo = pageNo;
			this.search();
        },
        changePageSize : function(pageSize) {
            vm.pageSize = pageSize;
			this.search();
        },
		handleMessage : function(msg) {
			// alert(msg);
			// 解析消息，假设 msg 是一个 JSON 字符串，包含类型（info、warning、error）和内容
			const messageData = JSON.parse(msg);
			const messageType = messageData.type;
			const jobInfo = messageData.jobInfo;
			const messageContent = messageData.content;

			let iconPath = '/icons/circle-info.png'; // 默认为信息类型图标

			if (messageType === 'warning') {
				iconPath = '/icons/exclamation-triangle.png';
			} else if (messageType === 'error') {
				iconPath = '/icons/times-circle.png';
			}

			// 请求通知权限
			Notification.requestPermission().then(function(permission) {
				if (permission === 'granted') {
					// 显示桌面通知
					const notification = new Notification(jobInfo, {
						body: messageContent,
						icon: iconPath, // 设置通知的图标
						requireInteraction: true, // 通知在用户操作之前一直保持可见
					});

					// 点击通知后关闭
					notification.onclick = function() {
						notification.close();
					};
				} else {
					console.log("No permission to pop up notification ...");
				}
			});
		}
	},
	created : function() {
		this.list();
	}
})

</script>
</body>
</html>