<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Scheduler Manager</title>
    <meta name="author" content="TSM" />
    <meta name="site" content="https://blog.52itstyle.com" />
    <link rel="stylesheet" th:href="@{/iview/iview.css}">
    <script th:src="@{/libs/jquery-3.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/libs/vue.min.js}" type="text/javascript"></script>
	<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
	<script th:src="@{/iview/iview.min.js}" type="text/javascript"></script>
	<script th:src="@{/common.js}" type="text/javascript"></script>
    <style type="text/css">
	[v-cloak] {
			  display: none;
			}
	.status-failure {
		background-color: #ffcccc; /* 你可以根据需要选择一个合适的背景颜色 */
	}
	</style>
</head>
<body>
<div id="app" v-cloak>
        <div style="margin-bottom: 6px;margin: 30px">
			<i-input v-model="jobNameSearch"   @on-enter="search()" placeholder="Task Name"  style="width: 200px"></i-input>
			<i-input v-model="jobGroupSearch"  @on-enter="search()" placeholder="Task Group"  style="width: 200px"></i-input>
			<i-select v-model="status" @on-change="search()" placeHolder="Task Status" style="width: 200px">
				<i-option v-for="item in options" :value="item.value" :key="item.value">
					{{ item.label }}
				</i-option>
			</i-select>
			<i-button type="primary" @click="search()" icon="ios-search">Search</i-button>
			<i-button type="primary" @click="empty()" icon="ios-close-empty">Clear</i-button>
			<i-button type="info" style="float: right;" @click="deleteAll()" icon="person-add">Clear Logs</i-button>
		</div>
		<div style="margin-bottom: 6px;margin: 30px">
			<template> 
				<i-table border :content="self" :columns="tableTitle" :data="JobData"></i-table>
			 	<br>
                <Page  style="float: right;" :current="pageNo" :total="tableSize" :page-size="pageSize"  @on-change="changePage" @on-page-size-change="changePageSize" show-elevator show-sizer show-total></Page>
			</template>
		</div>
</div>
<script type="text/javascript">
var vm = new Vue({
	el : '#app',
	data : {
		jobNameSearch : '',
		jobGroupSearch : '',
		status : '',
		options: [
			{ value: 'SUCCESS', label: 'SUCCESS'},
			{ value: 'FAILURE', label: 'FAILURE'},
			{ value: 'RUNNING', label: 'RUNNING'}
		],
		pageNo : 1,
		pageSize : 10,
		jobName : "",
		JobData : [],
		tableSize : 50,
		tableTitle:[ {
			key : "id",
			title : "Task ID",
			width: 80
		}, {
			key : "jobName",
			title : "Task Name",
			width: 150
		}, {
			key : "jobGroup",
			title : "Task Group",
			width: 150
		}, {
			key : "startTime",
			title : "Start Time",
			width: 180,
			render: (h, params) => {
				return h('span', vm.formatDate(params.row.startTime));
			}
		}, {
			key : "endTime",
			title : "End Time",
			width: 180,
			render: (h, params) => {
				return h('span', vm.formatDate(params.row.endTime));
			}
		},{
			key : "status",
			title : "Status",
			width: 100,
			render: (h, params) => {
				const status = params.row.status;
				const statusClass = status === "FAILURE" ? "status-failure" : "";
				return h("span", { class: statusClass }, status);
			}
		},{
			key : "logs",
			title : "Logs",
			render: (h, params) => {
				const maxLength = 200;
				const text = params.row.logs?(params.row.logs.length > maxLength ? params.row.logs.substring(0, maxLength) + "..." : params.row.logs) : "";
				return h('div', {
					class: 'limited-text'
				}, text);
			}
		}, {
			title : '操作',
			key : 'action',
			width : 300,
			align : 'left',
			render : function(h, params) {
				var functionList = [];
				//移除
				var remove = h('Button', {
					props : {
						type : 'primary',
						size : 'small',
						icon : 'close'
					},
					style : {
						marginRight : '8px'
					},
					on : {
						click : function() {
							vm.remove(params.row.id);
						}
					}
				}, '移除');
				functionList.push(remove);
				//查看
				var view = h('Button', {
					props : {
						type : 'primary',
						size : 'small',
						icon : 'edit'
					},
					style : {
						marginRight : '8px'
					},
					on : {
						click : function() {
							vm.view(params.row);
						}
					}
				}, '查看');
				functionList.push(view);

				// 返回方法集合
				return h('div', functionList);
			}
		}]
		
	},
	methods : {
		//搜索
		search : function(){
			 $.ajax({
					url:"../joblog/list",
					type:"post",
					data:{'jobName':this.jobNameSearch,'jobGroup':this.jobGroupSearch,'status':this.status,'pageNo':this.pageNo,'pageSize':this.pageSize},
					success: function(result) {
						vm.JobData = result.msg.pageData;
						vm.tableSize = result.msg.totalCount;
					}
			});
		},
		empty : function(){
			vm.jobNameSearch = '';
			vm.jobGroupSearch = '';
			vm.status = '';
			this.list();
		},
		//任务列表(自行实现分页)
		list : function() {
			$.ajax({
				url:"../joblog/list",
				type:"post",
				data:{'time':(new Date()).toString(),"pageNo":this.pageNo,'pageSize':this.pageSize},
				success: function(result) {
					vm.JobData = result.msg.pageData;
					vm.tableSize = result.msg.totalCount;
				}
			});
		},
		//查看日志详情
		view : function(quartz){
			dialogOpen({
				title: '查看日志详情',
				url: 'task/logdetails.html',
				scroll : true,
				width: '800px',
				height: '600px',
				success : function(iframeId){
					top.frames[iframeId].vm.formQuartz = quartz;
				},
				yes : function(iframeId) {
				}
			});
		},
		//删除单个记录
		remove : function(id){
			var that = this;
			top.layer.confirm('Are you sure to delete this log?', {
				btn: ['Confirm','Cancel']
			}, function(){
				$.ajax({
					url:"../joblog/clear",
					type:"post",
					data:{"id":id},
					success: function(result) {
						if(result.code=="0"){
							top.layer.msg('Log deleted successfully', {icon: 1});
							window.setTimeout(that.list(),1500);
						}
					}
				});
			}, function(){

			});
		},
		//清理日志
		deleteAll : function() {
			var that = this;
			top.layer.confirm('确定要删除所有的日志吗？', {
				btn: ['确定','取消'] //按钮
			}, function(){
				$.ajax({
					url:"../joblog/clear",
					type:"post",
					data:{'jobName':vm.jobNameSearch,'jobGroup':vm.jobGroupSearch,'status':vm.status},
					success: function(result) {
						if(result.code=="0"){
							vm.pageNo = 1;
							vm.pageSize = 10;
							top.layer.msg('删除查询的日志成功', {icon: 1});
							window.setTimeout(that.search(),1500);
						}
					}
				});
			}, function(){

			});
		},
		formatDate : function(timestamp) {
			const date = new Date(timestamp);
			const year = date.getFullYear();
			const month = ('0' + (date.getMonth() + 1)).slice(-2);
			const day = ('0' + date.getDate()).slice(-2);
			const hour = ('0' + date.getHours()).slice(-2);
			const minute = ('0' + date.getMinutes()).slice(-2);
			const second = ('0' + date.getSeconds()).slice(-2);
			return `${year}-${month}-${day} ${hour}:${minute}:${second}`;
		},
		reload :  function(){
            this.load();
        },
        changePage : function(pageNo) {
            vm.pageNo = pageNo;
            this.search();
        },
        changePageSize : function(pageSize) {
            vm.pageSize = pageSize;
            this.search();
        }
	},
	created : function() {
		this.list();
	}
})

</script>
</body>
</html>